.appearance_page_custom-header #headimg {
	border: 0;
}

#header-top {
	float: left;
	position: relative;
	margin-right: -100%;
}

#header-top #name {
	text-decoration: none;
}

#header-bottom {
	float: left;
}