#header-top {
	margin-bottom: -100%;
	width: 940px;
	height: 250px;
}

#headimg .has-background {
	padding: 90px 0 0 40px;
}

#header-top h1 {
	width: 940px;
}

#headimg img {
	height: 250px;
	width: 940px;
}