.social-icons-wrapper img {
	cursor: pointer;
}

.social-icons-wrapper ul { 
	float: left;
	width: 50%;
	height: 25px;
} 

.social-icons-wrapper ul li {
	float: left;
	margin: 0 6px 0 6px;
	min-width: 16px;
	width: auto;
	height: 25px;
}

#social-icons-active {
	float: left;
	width: 48%;
	margin: 12px 0 12px 0;
}

#social-icons-available {
	float: right;
	width: 48%;
	margin: 12px 0 12px 0;
}

#social-icons-available #available-icons,
#social-icons-active #active-icons {
	border: 1px solid #dfdfdf;
	border-top: 0;
	/*border-radius: 3px;*/
	height: 215px;
	/*overflow: scroll;*/
	background: #FCFCFC;
	float: left;
	width: 99.9%;
}

#social-icons-available span {
	margin-left: 8px;
}

#social-icons-available #available-icons p,
#social-icons-active #active-icons p {
	padding: 10px 10px 0 10px;
}

#social-icons-available #available-icons ul,
#social-icons-active #active-icons ul {
/*	width: 100%;
	height: 60%;
	padding: 0 10px 0 10px;*/
	width: 90%;
	margin: 10px;
	padding: 10px 0 10px 0;
}

#social-icons-available .button {
	margin-top: 12px;
}

#social-icons-available {
	margin-right: 24px;
}

#social-icons-available ul {
}

#social-icons-available ul li {
	float: left;	
	min-width: 16px;
	width: auto;
}