/* Contrast stylesheet for when user has a dark background */
body {
  color: #eeeeee;
  background: #090909;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0e0e0;
}
/* header */
#site-title,
#site-title a {
  color: #ffffff;
}
/* sidebar */
#sidebar {
  color: #eeeeee;
}
.widget h4.widget-title {
  color: #e0e0e0;
}
.breadcrumb {
  background: #222222;
  box-shadow: none;
  border-color: #303030;
}
.breadcrumb li {
  text-shadow: none;
}
.post,
#comments,
#pings,
#no-comments,
#respond {
  background: #222222;
}
.post-title a,
.post-title a:visited {
  color: #eeeeee;
}
.post-header,
.post-meta {
  border-color: #303030;
}
.post.format-status .post-header {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2c2c2c), to(#282828));
  background-image: -webkit-linear-gradient(top, #2c2c2c 0%, #282828 100%);
  background-image: -moz-linear-gradient(top, #2c2c2c 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #2c2c2c 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.post.format-quote .post-header {
  background-image: url(images/bg-quote-dark.png);
}
.post.format-quote .post-header .entry-content p {
  color: #444444;
}
.post.format-aside .aside-date {
  background: #28292d;
}
.post.format-chat .post-header {
  background-color: #28292d;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.entry-content .wp-caption {
  background: #181818;
  border: 1px solid #191919;
}
.well {
  background: #222222;
  border: none;
}
/* author box */
#author-box .author-link {
  color: #eeeeee;
}
.page-link {
  border-color: #303030;
}
#comments .comment-container .comment-entry .name {
  color: #999999;
}
#comments .date a {
  color: #eeeeee;
}
#comments .comment-container {
  border-color: #303030;
}
#comments > ol > li > ul.children > li .comment-container {
  border-color: #303030;
}
#comments .bypostauthor > .comment-container {
  background: #2f2f2f;
  border-right: 5px solid #f9f9f9;
}
/* sidebar */
table#wp-calendar caption {
  background-color: #202020;
  background-color: rgba(41, 41, 41, 0.4);
}
.widget_calendar td {
  color: #454545;
}
.pager li a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #333333;
  border: 1px solid #222222;
  border-radius: 15px;
}
.pager li a:hover {
  background-color: #333333;
  color: #eeeeee;
}
.pager li span {
  padding: 0px;
  background-color: none;
  border: none;
  border-radius: 15px;
}
.pager a:hover,
.previous-page a:hover,
.next-page a:hover {
  color: #eeeeee;
}
/* jetpack comments */
.comment-container #respond,
#respond {
  background: #454545;
  padding: 20px;
}
h2#authors .fa-group,
h2#pages .fa-group,
h2#posts .fa-group,
h2#categories .fa-group,
h2#authors .fa-calendar,
h2#pages .fa-calendar,
h2#posts .fa-calendar,
h2#categories .fa-calendar,
h2#authors .fa-list,
h2#pages .fa-list,
h2#posts .fa-list,
h2#categories .fa-list,
h2#authors .fa-list-alt,
h2#pages .fa-list-alt,
h2#posts .fa-list-alt,
h2#categories .fa-list-alt {
  color: #e0e0e0;
}
/* 404 page */
.error404 #nothing-found h1 {
  color: #ffffff;
}
/* footer */
#footer {
  background: #191919;
}
