h1,h2,h3,h4,h5,h6{margin-bottom:10px;color:#444;}h1.small,h2.small,h3.small,h4.small,h5.small,h6.small{color:#bfbfbf;}
h1 small{font-size:18px;}
h2{font-size:24px;line-height:36px;}
h2 small{font-size:14px;}
h6{text-transform:inherit;}
a{color:#4d8b97;}
abbr,tla,acronym{text-decoration:underline;cursor:help;}
cite,q{font-style:italic;}
ins{background-color:rgba(254, 255, 0, 0.68);text-decoration:none;}
pre{margin-bottom:20px;}
