//
// Comments and Pings
// @version 1.4
// @since 1.0
//

.commentlist {
    padding-left: 0;

    li:last-child {
        border-bottom: 1px solid $comment-content-border-color;
    }
}

.comment {
    list-style: none;
}

.media {
    border-bottom: 1px solid $comment-content-border-color;
    padding: 10px;

    &:last-child {
        border-bottom: none;
    }
}

.media-heading .name {
    font-weight: bold;
}

ul .media {
    border-left: 1px solid $comment-content-border-color;
    margin-top: 0;
}

.bypostauthor {
    border-right: 5px solid $comment-by-author-border-color;
    background: $comment-by-author-bg-color;
}

.form-allowed-tags .btn-link {
    padding: 0;
    vertical-align: top;

    &:focus {
        outline: none;
    }
}

.subscribe-label {
    font-weight: normal;
}