//
// Header
// @version 1.4
// @since 1.0
//
@import "variables";

header {
    background-color: $header-background-color;

    &.jumbotron {
        margin-bottom: 0;
    }
}

#logo p {
    margin-bottom: 0;
}

#site-title,
#site-title a {
    color: $site-title-color;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-size-h1;
    line-height: 1;
    margin: 10px 0 0;

    &:hover,
    &:focus,
    &:active {
        color: $site-title-hover-color;
    }

}

#site-description {
    color: $site-description-color;
    font-size: $font-size-base;
}

#header-image {
    h1,
    p {
        margin: 0;
        padding: 0;

        a {
            display: block;
        }
    }

    img,
    a img {
        max-width: 100%;
        width: auto;
        height: auto;
        opacity: 1;
    }
}

.header-widget  {
    ul li {
        display: inline-block;

        a {
            padding: 4px 12px;
        }
    }
}