//
// Misc
// @version 1.4
// @since 1.0
//

body * {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a {
    @include ease-in();

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.alignleft {
    float: left;
    margin: 0.5em 20px 0.5em 0;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 20px;
}

.aligncenter {
    display: block;
    float: none;
    margin-top: 0.5em;
    margin-right: auto !important;
    margin-bottom: 0.5em;
    margin-left: auto !important;
}

.alignnone {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

[class*="span"].post {
    float: none;
    margin-left: 0;
}

.fademe img,
a img {
    opacity: 1;
    @include ease-in();

    &:hover {
        opacity: 0.5;
    }
}

code {
    white-space: inherit;
}

.jumbotron {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}