//
// Navigation
// @version 1.4
// @since 1.0
//
@import "variables";

.navbar {
    margin-bottom: 0;

    .navbar-toggle {
        float: left;

        &:focus {
            outline: none;
        }
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-nav.nav-pills > li > a {
        padding: 14px 8px;
    }

    .dropdown-menu {

        a {
            padding: 8px 15px;
            border-bottom: 1px solid $navigation-dropdown-border-bottom-color;
            color: $navigation-dropdown-item-color;
        }

        li:last-child > a {
            border-bottom: 0;
        }

        > li a:hover,
        > li.active a:hover {
            background: none;
            color: $navigation-dropdown-item-hover-color;
        }

        .active > a {
            background: none;
            color: $navigation-dropdown-item-active-color;
        }

        &.open .dropdown-toggle {
            background: none;
            color: $navigation-dropdown-open-color;
        }
    }

    //  Uncomment the social icons you want to change the color for
    //  .fa-twitter {
    //    font-size: $social-icon-font-size;
    //    color: $twitter-blue;
    //
    //    &:hover {
    //      color: $twitter-blue-hover;
    //    }
    //  }
    //
    //  .fa-facebook {
    //    font-size: $social-icon-font-size;
    //    color: $facebook-blue;
    //
    //    &:hover {
    //      color: $facebook-blue-hover;
    //    }
    //  }
    //
    //  .fa-linkedin {
    //    font-size: $social-icon-font-size;
    //    color: $linkedin-blue;
    //
    //    &:hover {
    //      color: $linkedin-blue-hover;
    //    }
    //  }
    //
    //  .fa-google-plus {
    //    font-size: $social-icon-font-size;
    //    color: $googleplus-red;
    //
    //    &:hover {
    //      color: $googleplus-red-hover;
    //    }
    //  }
    //
    //  .fa-youtube {
    //    font-size: $social-icon-font-size;
    //    color: $youtube-red;
    //
    //    &:hover {
    //      color: $youtube-red-hover;
    //    }
    //  }
    //
    //  .fa-dribbble {
    //    font-size: $social-icon-font-size;
    //    color: $dribbble-pink;
    //
    //    &:hover {
    //      color: $dribbble-pink-hover;
    //    }
    //  }
    //
    //  .fa-foursquare {
    //    font-size: $social-icon-font-size;
    //    color: $foursquare-green;
    //
    //    &:hover {
    //      color: $foursquare-green-hover;
    //    }
    //  }
    //
    //  .fa-pinterest {
    //    font-size: $social-icon-font-size;
    //    color: $pinterest-red;
    //
    //    &:hover {
    //      color: $pinterest-red-hover;
    //    }
    //  }
    //
    //  .fa-rss {
    //    font-size: $social-icon-font-size;
    //    color: $rss-orange;
    //
    //    &:hover {
    //      color: $rss-orange-hover;
    //    }
    //  }
    //
    //  .fa-cloud {
    //    font-size: $social-icon-font-size;
    //    color: $soundcloud-orange;
    //
    //    &:hover {
    //      color: $soundcloud-orange-hover;
    //    }
    //  }
    //
    //  .fa-vimeo-square {
    //    font-size: $social-icon-font-size;
    //    color: $vimeo-blue;
    //
    //    &:hover {
    //      color: $vimeo-blue-hover;
    //    }
    //  }
    //
    //  .fa-github {
    //    font-size: $social-icon-font-size;
    //    color: $github-gray;
    //
    //    &:hover {
    //      color: $github-gray-hover;
    //    }
    //  }
    //
    //  .fa-envelope {
    //    font-size: $social-icon-font-size;
    //  }

}

.visible-xs .navbar-nav {
    margin: 0;
}

// Post Navigation

.pager a {
    color: $pager-link-color;
}

// infinate handle

#infinite-handle span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb {
    padding: 4px 17px;
    background: $breadcrumb-bg-color;

    .active {
        display: inline;
        max-width: 100%;
        width: auto;
        word-wrap: break-word;
    }
}