//
// Post Format Gallery
// @version 1.1
// @since 1.0
//

.format-gallery {

    .entry-content {
        overflow: hidden;
        padding: 0;

        p {
            margin-top: 20px;
        }

        > * {
            margin-right: 20px;
            margin-left: 20px;
        }

        .gallery-post-format {
            margin-right: 0px;
            margin-left: 0px;
        }

    }
}