//
// Post Format Status
// @version 2.0.2
// @since 1.0
//

.format-status {

    .entry-content {
        padding: 0 20px;
        min-height: 60px;
    }

    .post-avatar img {
        width: 100%;
    }
}