//
// Posts
// @version 1.7
// @since 1.0
//

// Post Formats
@import "posts.format-image.scss";
@import "posts.format-gallery.scss";
@import "posts.format-video.scss";
@import "posts.format-status.scss";
@import "posts.format-quote.scss";
@import "posts.format-link.scss";
@import "posts.format-aside.scss";

@import "sharedaddy";
@import "mixins";
@import "../../bower_components/bootstrap-sass/lib/mixins";
@import "../../bower_components/bootstrap-sass/lib/variables";

.post-header {
    margin-bottom: 15px;
    padding: 20px 0;

    .thumbnail {
        margin: 0 20px 0 0;
    }
}

.post-title {
    margin: 0 0 5px;
    font-weight: bold;

    a, a:visited {
        color: $post-post-title-color;
    }

    a:hover, a:active {
        color: $post-post-title-hover-color;
        text-decoration: none;
    }
}

.entry-content,
.entry-summary {
    padding: 20px 0;

    > ol,
    > ul {
        margin: 0 0 20px 10px;
        font-size: 16px;
        line-height: 1.5;
    }

    .wp-caption {
        margin: 0 0 20px 0;
        padding-top: 4px;
        max-width: 100%;
        @include border-radius(3px);
        border-image: initial;
        background-color: $post-post-caption-bg-color;
        text-align: center;
    }

    .wp-caption-text {
        margin-bottom: 0;
        color: $post-post-caption-color;
        font-size: 11px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .wp-caption.alignleft {
        margin-right: 20px;
    }
    .wp-caption.alignright {
        margin-left: 20px;
    }

    .wp-caption img {
        max-width: 98%;
        height: auto;
    }
}

.post-meta {
    padding: 20px 0 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid $post-post-meta-border-color;
    color: $post-post-meta-color;
    font-size: 12px;

    .fa-link,
    .fa-tags {
        color: $post-post-meta-color;
    }

    .post-link:hover {
        text-decoration: none;
    }

    .meta-date-cat-tags {

        a {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;

            @include label-variant($brand-primary);

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.single-attachment img.attachment-thumbnail {
    margin-top: 30px;
}

.the-comment-link {
    margin-right: 5px;
}

.home .sticky{

    &:before {
        position: absolute;
        top: 26px;
        left: -9px;
        display: inline-block;
        content: "\f005";
        font-family: FontAwesome;
        border-radius: 4px;
        background: $post-sticky-bg-color;
        opacity: .7;
        color: $post-sticky-color;
        text-align: right;
        padding: 8px 8px 8px 36px;
        border-top: 1px solid $post-sticky-border-color;
        border-bottom: 1px solid $post-sticky-border-color;
        @include fa-icon-rotate(-10deg, 1);
    }

    .post-header {
        padding-left: 60px;
    }
}

.carousel {

    .fa-angle-left,
    .fa-angle-right {
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        display: inline-block;
    }
}