//
// Sharedaddy
// @version 2.0.2
// @since 1.0
//

.sd-title.page-header {
    margin: 20px 0;
}

.sd-content {

    ul > li {
        margin-top: 3px;
        padding: 0;

        > a {
            font-size: 16px;

            &:hover {
                background: none;
            }
        }
    }

    .fa-twitter-square {
        @include social-sharing-icons($twitter-blue);
    }

    .fa-facebook-square {
        @include social-sharing-icons($facebook-blue);
    }

    .fa-tumblr {
        @include social-sharing-icons(darken($facebook-blue, 10%));
    }

    .fa-linkedin-square{
        @include social-sharing-icons($linkedin-blue);
    }

    .fa-pinterest-square {
        @include social-sharing-icons($pinterest-red);
    }

    .fa-google-plus-square {
        @include social-sharing-icons($googleplus-red);
    }

    .fa-envelope-o,
    .fa-thumbs-o-up,
    .fa-group,
    .fa-print{
        @include social-sharing-icons($github-gray);
    }

    .fa-rss,
    .fa-external-link {
        @include social-sharing-icons($rss-orange);
    }

    .fa-caret-square-o-down {
        @include social-sharing-icons($dribbble-pink);
    }

    .fa {
        padding: 4px;

        span {
            display: none;
        }

        &.no-icon {
            color: #333;
            background-color: #eee;
            padding: 4px 8px;
            margin-bottom: 5px;

            &:hover {
                background-color: #ddd;
            }

            &:before {
                content: '';
            }

            span {
                margin-left: 0;
            }
        }
    }
}