//
// Theme Responsive
// @version 1.4
// @since 1.0
//
@import "variables";

// Smartphones
@media (max-width: 480px) {

    #wrapper {
        .container {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #hgroup {
        text-align: center;
    }

    #logo.pull-left {
        float: none !important;
    }

    #header-widget {

        .widget_search {
            box-sizing: border-box;
            margin-top: 20px;
            width: 100%;
        }

        .ad-billboard {
            margin: 0 auto;
            width: 92%;
            text-align: center;
        }

        .header-widget {
            margin-top: 20px !important;
        }
    }

    #header.imageyup {

        #logo #site-title,
        #logo #site-title a {
            font-size: 1.25em;
            line-height: 1;
        }

        #head-wrapper {
            padding: 0;
        }
    }

    .post {

        .thumbnail img {
            width: 80px;
            height: auto;
        }

        .post-title {
            font-size: 2em;
            line-height: 1.2;
        }
    }

    .entry-content {
        embed,
        iframe,
        object,
        p embed,
        p iframe,
        p object {
            max-width: 100%;
            height: 210px;
        }

        .gallery img {
            max-width: 94%;
        }
    }


    .author-box-image img {
        width: 50px;
        height: auto;
    }

    .post.format-status .post-header .entry-content,
    .fullwidth .post.format-status .post-header .entry-content {
        min-height: 60px;
    }

    .format-video {
        embed,
        iframe,
        object {
            max-width: 100%;
        }
    }

    .pager a {
        width: 100%;
        margin-bottom: 5px;
    }

    #archives-post-pager  {

        li,
        a {
            padding: 10px 0;
            width: 100%;
            float: none;
            text-align: center;
        }

        .previous {
            margin-bottom: 20px;
            display: inline-block;
        }
    }

    #sub-floor #credit {
        text-align: center;
    }

    #comment-form-avatar img {
        width: 20px;
        height: auto;
    }

    #sitemap-authors li {
        margin-right: 20px;
    }

    .ad-row.widget .thumbnails {
        display: block;
        overflow: hidden;
        padding: 0;

        li {
            width: 48.93617021276595% !important;
            display: block;
            height: auto;
            float: left !important;

            &:nth-child(2n+2) {
                float: right !important;
            }
        }
    }

    .jumbotron {
        padding: 30px 0;

        .footer-widget {
            margin-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// tablet and mobile
@media (max-width: 979px) {

    .imageyup #hgroup {

        &.no-logo {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
        }

        &.has-logo {
            position: relative;
            margin: 0 0 20px 0 !important;
            padding: 0;
            width: 100%;
            text-align: center;
        }

        > * {
            float: none;
        }
    }

    #header-widget {
        float: none !important;

        .ad-billboard {
            margin-top: 10px;
        }
    }

    .navbar ul.nav-menu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid $navigation-mobile-ul-border-color;

        > li a {
            padding: 10px 15px;

            .caret {
                display: none;
            }
        }
    }

    .nav.navbar-nav.menu > li:first-child {
        margin-left: 0px !important;
    }

    .navbar-nav.nav-pills {
        float: right;
    }

    .format-aside {
        .entry-content {
            padding: 20px 20px 20px 60px
        }
    }

    .format-link .post-header {

        .post-title {
            font-size: 24px;
        }

        .fa-link {
            font-size: 32px;
        }
    }

    #comments .comment-container .comment-entry {
        margin-left: 5%;
        width: 85%;
    }
}

// mobile to tablet
@media only screen and (max-width: 767px) {

    body {
        padding-right: 0;
        padding-left: 0;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .navbar .nav {
        margin-left: 0;
    }

    #header.imageyup #logo #site-title,
    #header.imageyup #logo #site-title a {
        font-size: 1.25em;
        line-height: 1;
    }

    #header-widget .ad-billboard {
        margin: 0 auto;
        margin-top: 34px;
        width: 92%;
        text-align: center;
    }

    .post.format-status .post-avatar {
        float: left;
        margin: 0 20px 20px 0;
    }

}

// default desktop
@media (min-width: 980px) {

}