//
// Variables
// @version 1.10
// @since 1.0
//

@import '../../bower_components/bootstrap-sass/lib/variables';

// Colors
// ---------------------------------

// Header
$header-background-color:                                       #333;
$site-title-color:                                              #333;
$site-title-hover-color:                                        #555;
$site-description-color:                                        #7a7a7a;

// Navigation
$navigation-item-color:                                         #999;
$navigation-item-hover-color:                                   #fff;
$navigation-dropdown-item-color:                                #888;
$navigation-dropdown-item-hover-color:                          #222;
$navigation-dropdown-item-active-color:                         $navigation-dropdown-item-hover-color;
$navigation-dropdown-open-color:                                #888;
$navigation-dropdown-border-bottom-color:                       #e4e4e4;

// Mobile Navigation
$navigation-mobile-ul-border-color:                             #444;
$navigation-mobile-dropdown-border-color:                       #282828;
$navigation-mobile-dropdown-item-hover-color:                   #fff;
$navigation-mobile-dropdown-active-item-color:                  $navigation-mobile-dropdown-item-hover-color;
$navigation-mobile-dropdown-active-item-hover-color:            $navigation-mobile-dropdown-active-item-color;

// Posts
$post-post-title-color:                                         #444;
$post-post-title-hover-color:                                   #888;

$post-post-caption-bg-color:                                    #f8f8f8;
$post-post-caption-color:                                       #888;

$post-post-meta-color:                                          #888;
$post-post-meta-border-color:                                   #eee;

$post-format-aside-date-color:                                  #fff;
$post-format-aside-date-bg-color:                               #101010;

$post-format-audio-bg-color:                                    #f5f5f5;
$post-format-audio-post-meta-bg-color:                          #fff;

$post-format-chat-bg-color:                                     #fcfcfc;

$post-format-link-post-title-color:                             #f0f0f0;
$post-format-link-post-title-visited-color:                     $post-format-link-post-title-color;
$post-format-link-post-title-hover-color:                       #999;
$post-format-link-post-title-bg-color:                          #28292d;

$post-format-quote-bg-color:                                    lighten($brand-primary, 30%);

$post-sticky-color:                                             #999;
$post-sticky-bg-color:                                          #fff;
$post-sticky-border-color:                                      #eee;

$pager-link-color:                                              #777;

$breadcrumb-bg-color:                                           #f9f9f9;

// Comments
$comment-by-author-bg-color:                                    #f9f9f9;
$comment-by-author-border-color:                                #202020;

$comment-content-border-color:                                  #ddd;

// Widgets
$widget-rss-link-color:                                         #444;
$widget-rss-summary-color:                                      #404040;

$widget-calendar-bg-color:                                      #fff;
$widget-calendar-caption-color:                                 #999;
$widget-calendar-table-header-color:                            #f0f0f0;
$widget-calendar-table-header-bg-color:                         #333;
$widget-calendar-table-data-bg-color:                           #fff;
$widget-calendar-table-data-bg-hover-color:                     #f5f5f5;
$widget-calendar-table-footer-bg-color:                         #f8f8f8;
$widget-calendar-table-footer-data-border-color:                #e0e0e0;
$widget-calendar-table-footer-data-bg-start-color:              #f5f5f5;
$widget-calendar-table-footer-data-bg-stop-color:               #fff;
$widget-calendar-table-footer-data-link-color:                  #999;

$widget-tagcloud-bg-color:                                      #f5f5f5;

$activity-tabs-active-tab-hover-color:                          #e4e4e4;

// Footer
$footer-bg-color:                                               #333;
$footer-subfloor-bg-color:                                      #000;

$footer-credit-color:                                           #666;
$footer-credit-link-color:                                      #999;
$footer-credit-link-hover-color:                                #fff;

$footer-widget-text-color:                                      #ccc;
$footer-widget-title-color:                                     #eee;
$footer-widget-title-border-color:                              #eee;
$footer-widget-link-color:                                      #ccc;
$footer-widget-link-color-hover:                                #fff;
$footer-widget-ul-submenu-border-color:                         #eee;
$footer-widget-navmenu-ul-submenu-border-color:                 #E0E0E0;

// Social
// ---------------------------------
$social-icon-font-size:                                         14px;

// Colors
$twitter-blue:                                                  #1dadeb;
$facebook-blue:                                                 #637eb2;
$linkedin-blue:                                                 #479bc8;
$vimeo-blue:                                                    #1280a9;
$dribbble-pink:                                                 #d24079;
$foursquare-green:                                              #aad25c;
$googleplus-red:                                                #d34428;
$pinterest-red:                                                 #c41e26;
$youtube-red:                                                   #d64242;
$rss-orange:                                                    #fd9526;
$soundcloud-orange:                                             #f8491d;
$github-gray:                                                   #555;

// Admin
// ---------------------------------

$theme-options-color:                                           #444;
$theme-options-bg-color:                                        #D0EDF3;
$theme-options-border-color:                                    transparent;
$theme-options-info-color:                                      #7b7b7b;
$theme-options-theme-title-color:                               #999;
$theme-options-links-color:                                     #2e2e2e;
$theme-options-links-border-color:                              #eee;
$theme-options-table-border-color:                              #eee;

$logo-preview-container-bg-color:                               #f0f0f0;

$table-disabled-color:                                          #aaa;
$table-th-label-input-color:                                    #a9a9a9;

$warning-bg-color:                                              #d9edf7;
$warning-border-color:                                          #bce8f1;

$delete-button-color:                                           #a00;
$delete-button-color-hover:                                     #fff;
$delete-button-bg-color-hover:                                  #d54e21;
$delete-button-border-color-hover:                              #d54e21;

$alert-color:                                                   #C09853;
$alert-bg-color:                                                #FCF8E3;
$alert-border-color:                                            #FBEED5;

$alert-info-color:                                              #545454;
$alert-info-bg-color:                                           #d0edf3;
$alert-info-border-color:                                       transparent;

$social-icons-bg-color:                                         #FCFCFC;
$social-icons-border-color:                                     #dfdfdf;
$social-icons-preview-bg-color:                                 #222;

$social-icon-color:                                             #999;
$social-icon-color-hover:                                       #fff;

$moz-input-placeholder-color:                                   #777;
$moz-input-disabled-color:                                      #ccc;

// Dark Contrast
// ---------------------------------

// Body
$body-bg-color-dark:                                           #090909;
$body-color-dark:                                              #eee;

// Header
$heading-color-dark:                                           #e0e0e0;

$site-title-color-dark:                                        #fff;

// Posts
$panel-bg-color-dark:                                          #333;
$post-bg-color-dark:                                           #222;
$post-title-color-dark:                                        #eee;
$post-header-border-color-dark:                                #303030;
$post-author-box-link-color-dark:                              #eee;

$post-format-quote-header-p-color-dark:                        #444;
$post-format-quote-background-color-dark:                      #28292d;

$post-format-aside-color-dark:                                 #28292d;

$post-format-chat-post-header-bg-color-dark:                   #28292d;

$post-format-status-post-header-gradient-start-dark:           #2c2c2c;
$post-format-status-post-header-gradient-end-dark:             #282828;

$post-format-audio-post-meta-color:                             #222;

$caption-bg-color-dark:                                        #181818;
$caption-border-color-dark:                                    #191919;

$pager-bg-color-dark:                                          #333;
$pager-bg-color-hover-dark:                                    $pager-bg-color-dark;
$pager-border-color-dark:                                      #222;
$pager-border-color-hover-dark:                                #EEE;

$pager-border-color-hover-dark:                                #EEE;

$page-link-color-dark:                                         #303030;

$breadcrumb-bg-color-dark:                                     #222;
$breadcrumb-border-color-dark:                                 #303030;

// Comments
$comment-content-color-dark:                                   #999;
$comment-content-border-color-dark:                            #303030;
$comment-content-children-border-color-dark:                   $comment-content-border-color-dark;
$comment-date-link-color-dark:                                 #eee;
$comment-by-author-color-dark:                                 #2F2F2F;
$comment-by-author-border-color-dark:                          #F9F9F9;

// Pages
$page-template-heading-color-dark:                             #e0e0e0;
$nothing-found-color-dark:                                     #fff;

// Sidebar
$sidebar-color:                                                 #eee;

// Widgets
$widget-heading-color:                                          #e0e0e0;

$widget-jetpack-comment-bg-color-dark:                         #454545;

$calendar-bg-color-dark:                                       #333;
$calendar-border-color-dark:                                   #999;
$calendar-td-color-dark:                                       #fff;
$calendar-td-color-hover-dark:                                 #000;
$calendar-td-background-color-dark:                            #28292d;

$tags-bg-color-dark:                                           #28292d;

// Footer
$footer-bg-color-dark:                                         #191919;

// Misc
$well-bg-color-dark:                                           #222;