//
// Dark Contrast
// @version 1.4
// @since 1.0
//

// Contrast stylesheet for when user has a dark background
@import "../../bower_components/bootstrap-sass/lib/mixins";
@import "variables";

body {
    color: $body-color-light;
    background: $body-bg-color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color-light;
}

#site-title,
#site-title a {
    color: $site-title-color-light;
}

.breadcrumb {
    background: $breadcrumb-bg-color-light;
    box-shadow: none;
    border-color: $breadcrumb-border-color-light;

    li {
        text-shadow: none;
    }
}

.panel {
    border-color: $panel-bg-color-light;
}

.post,
#comments,
#pings,
#no-comments,
#respond {
    background: $post-bg-color-light;
}

.post-title a,
.post-title a:visited {
    color: $post-title-color-light;
}

.post-header,
.post-meta {
    border-color: $post-header-border-color-light;
}

.post.format-status .post-header {
    @include gradient-vertical($post-format-status-post-header-gradient-start-light, $post-format-status-post-header-gradient-end-light);
    @include box-shadow(none);
}

.post.format-quote {

    .post-header {
        background-color: $post-format-quote-background-color-light;
    }

    .entry-content:before {
        border-color: $post-format-quote-background-color-light transparent transparent transparent;
    }
}

.post.format-quote .post-header .entry-content p {
    color: $post-format-quote-header-p-color-light;
}

.post.format-aside .aside-date {
    background: $post-format-aside-color-light;
}

.post.format-chat .post-header {
    background-color: $post-format-chat-post-header-bg-color-light;
    background-image: none;
    @include box-shadow(none);
}

.post.format-audio .post-meta {
    background: $post-format-audio-post-meta-color;
}

.entry-content .wp-caption {
    background: $caption-bg-color-light;
    border: 1px solid $caption-border-color-light;
}

.well {
    background: $well-bg-color-light;
    border: none;
}

// author box
#author-box .author-link {
    color: $post-author-box-link-color-light;
}

.page-link {
    border-color: $page-link-color-light;
}

#comments {

    .comment-container .comment-entry .name {
        color: $comment-content-color-light;
    }

    .date a {
        color: $comment-date-link-color-light;
    }

    .comment-container {
        border-color: $comment-content-border-color-light;
    }

    > ol > li > ul.children > li .comment-container {
        border-color: $comment-content-children-border-color-light;
    }

    .bypostauthor > .comment-container {
        background: $comment-by-author-color-light;
        border-right: 5px solid $comment-by-author-border-color-light;
    }
}

// jetpack comments
.comment-container #respond,
#respond {
    background: $widget-jetpack-comment-bg-color-light;
    padding: 20px;
}

.pager li > a {
    background-color: $pager-bg-color-light;
    border: 1px solid $pager-border-color-light;

    &:hover {
        background-color: $pager-bg-color-hover-light;
        color: $pager-border-color-hover-light;
    }
}

#sidebar {
    color: $sidebar-color;
}

.widget h4.widget-title {
    color: $widget-heading-color;
}

table#wp-calendar {

    caption {
        background-color: $calendar-bg-color-light;
        border: 1px solid $calendar-border-color-light;
    }

    td {
        background: $calendar-td-background-color-light;
        color: $calendar-td-color-light;

        &:hover {
            background: $calendar-td-color-hover-light;
        }
    }

    tfoot td {
        background: $calendar-td-background-color-light;
        color: $calendar-td-color-light;
    }
}

.tagcloud a {
    background: $tags-bg-color-light;
}

#footer {
    background: $footer-bg-color-light;
}

h2 {
    &#authors,
    &#pages,
    &#posts,
    &#categories {
        .fa-group,
        .fa-calendar,
        .fa-list,
        .fa-list-alt {
            color: $page-template-heading-color-light;
        }
    }
}

.error404 #nothing-found h1 {
    color: $nothing-found-color-light;
}