//
// Admin Styles
// @version 1.1
// @since 1.0
//

@import "admin.social-options.less";
@import "admin.header.less";
@import "mixins.less";

input:-moz-placeholder {
	color:	#777;
}

#theme_left_sidebar_layout,
#theme_right_sidebar_layout,
#theme_full_width_layout {
	vertical-align: top;
	margin: 15px 5px 0 0;
}

img.social_option {
	vertical-align: top;
	margin: 4px 0 0 4px;
}

/* theme admin options styles */

#theme-options div.updated,
#theme-options .message,
#theme-post-editor {
	color: #444;
	background-color: #D0EDF3;
	border-color: transparent;
	margin: 15px 0 10px;
}

#theme-options {

  #theme-info {
    float: left;
    width: 65%;
    margin-right: 10px;
    padding: 15px 15px 15px 0;

    p {
      color: #7b7b7b;
      font-size: 16px;
      line-height: 1.2;
      margin-top: 5px;
      font-weight: 200;
    }

  } // #theme-info

  #icon-themes {
    background: url(img/theme-logo.png) no-repeat;
    width: 102px;
    height: 102px;
    margin-right: 15px;
  }

  #theme-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    span {
      color: #999;
      font-size: 12px;
      font-weight: normal;
      text-transform: lowercase;
      font-style: italic;
      letter-spacing: 0;
    }

  } // #theme-title

  #theme-options-links {
    border-left: 1px solid #eee;
    padding: 20px;
    float: right;
    margin-top: 25px;

    a {
      color: #2e2e2e;
      display: block;
      overflow: hidden;
      padding-left: 20px;
      text-decoration: none;
      line-height: 16px;

      &:hover {
        text-decoration: underline;
      }

    }

  } // #theme-options-links

  .theme-docs {
    background: url(img/icn-wrench.png) left center no-repeat;
  }

  .theme-support {
    background: url(img/icn-blog.png) left center no-repeat;
  }

  .theme-blog {
    background: url(img/icn-heart.png) left center no-repeat;
  }

  form {
    margin-top: 20px;
  }

  .form-table {
    border-top: 1px solid #eee;
    margin: 20px 0;
  }

  h3 {
    margin: 1em 0 0;
  }

  #logo_preview_container {
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    width: 190px;
    min-height: 40px;
    overflow: hidden;

    > img {
      width: 100%;
      height: auto;
    }

  } // #logo_preview_container

  #fav_icon_preview_container > img {
    width: auto;
    max-width: 64px;
    height: auto;
    max-height: 64px;
  }

  .social-icons-wrapper {
    margin-top: 10px;

    h3 {
      margin: 0;
    }
  }

  form .submit {
    float: left;
    margin: 0 8px 0 0;
    padding: 0;
  }

  input[disabled=disabled] {
    color: #ccc;
  }

} // #theme-options


#theme-options .form-table th, .form-wrap label {
	font-weight: bold;
	border-right: 1px solid #eee;
}

/* theme post editor notification styles */

#theme-post-editor {
	padding: 0.3em 0.6em;
	border-radius: 3px;

    p {
      margin: .5em 0;
      padding: 2px;
    }
}


hr {
	clear: both;
}

#link_url_field {
	width: 100%;
}

//WP Core changes

//disabled style on Header section
table.form-table.disabled {
	color: #aaa;
	
		th, label, input {
		color: #a9a9a9;
	}
	
}

.warning {
  background-color: #d9edf7;
  border-color: #bce8f1;
  .border_radius(4px);

  p {
    padding: 10px;
  }
}


// media queries sizes
@media (max-width: 650px) {

	#theme-options {

      #theme-info {
        float: none;
        width: 100%;
        margin-right: 0;
      }

      #theme-options-links {
        float: none;
        border-left: none;
        border-top: 1px solid #eee;
        padding: 5px 0;
        margin-top: 0;
        margin-bottom: 20px;

        ul li {
          display: inline;

          a {
            display: inline-block;
            margin-left: 10px;
          }

        }

      } // #theme-options-links

    } // #theme-options


}
