//
// Posts Author Box
// @version 1.4
// @since 1.0
// 

#author-box {

  .author-link {
    margin-right: 10px;
    color: @post_author_box_link_color;
    .ease_in();

    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }

  } // .author-link

} // #author-box

.author-box-image {
  float: left;
  margin-right: 20px;
}