//
// Footer
// @version 1.4
// @since 1.0
//

@import "variables.less";

#footer {
	padding: 0;
	background: @footer_bg_color;
	
    #footer-widgets {
        padding-top: 40px;
    }

    #sub-floor {
        padding: 10px 0;
        background: #000;

        #credit {
          float: right;
          padding: 13px 0;
          color: @footer_credit_color;
          text-align: right;

          a {
            color: @footer_credit_link_color;

            &:hover {
              color: @footer_credit_link_hover_color;
              text-decoration: none;
            }

          }

        } // #credit

    } // #sub-floor

    #footer-links {
      float: left;

      .navbar-nav > li > a {
        color: @navigation_item_color;
        padding: 10px;

        &:hover {
          color: @navigation_item_hover_color;
          background: none;
        }

      } // .navbar-nav

    } // #footer-links

} // footer