//
// Mixins
// @version 1.4
// @since 1.0
// 

// Gradients
// ----------------------------------------

// Container elements
// ----------------------------------------

.border_radius(@radius: 4px) {
	-webkit-border-radius:	@radius;
	-moz-border-radius: 	@radius;
	border-radius: 			@radius;
} // .no_border_radius

.ease_in() {
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
} // .ease_in

// Mixins

.social-sharing-icons(@hoverColor: @gray_dark) {
  color: @hoverColor;
  .share-icons-defaults();

  &:hover {
    color: darken(@hoverColor, 10%);
  }

}

.share-icons-defaults() {
  font-size: 16px;
  margin-left: 4px;
}