//
// Navigation
// @version 1.3
// @since 1.0
//
@import "variables";

.navbar {

  .navbar-nav {

    &.nav-pills > li > a {
      padding: 14px 8px;
    }
  }

  .dropdown-menu {

    a {
      padding: 8px 15px;
      border-bottom: 1px solid #e4e4e4;
      color: #888;
    }

    li:last-child > a {
      border-bottom: 0;
    }

    > li a:hover, > li.active a:hover {
      background: none;
      color: #222;
    }

    .active > a {
      background: none;
      color: #222;
    }

    &.open .dropdown-toggle {
      background: none;
      color: #888;
    }

  }

//  Uncomment the social icons you want to change the color for
//  .icon-twitter {
//    font-size: @social-icon-font-size;
//    color: @twitter-blue;
//
//    &:hover {
//      color: @twitter-blue-hover;
//    }
//  }
//
//  .icon-facebook {
//    font-size: @social-icon-font-size;
//    color: @facebook-blue;
//
//    &:hover {
//      color: @facebook-blue-hover;
//    }
//  }
//
//  .icon-linkedin {
//    font-size: @social-icon-font-size;
//    color: @linkedin-blue;
//
//    &:hover {
//      color: @linkedin-blue-hover;
//    }
//  }
//
//  .icon-google-plus {
//    font-size: @social-icon-font-size;
//    color: @googleplus-red;
//
//    &:hover {
//      color: @googleplus-red-hover;
//    }
//  }
//
//  .icon-youtube {
//    font-size: @social-icon-font-size;
//    color: @youtube-red;
//
//    &:hover {
//      color: @youtube-red-hover;
//    }
//  }
//
//  .icon-dribbble {
//    font-size: @social-icon-font-size;
//    color: @dribbble-pink;
//
//    &:hover {
//      color: @dribbble-pink-hover;
//    }
//  }
//
//  .icon-foursquare {
//    font-size: @social-icon-font-size;
//    color: @foursquare-green;
//
//    &:hover {
//      color: @foursquare-green-hover;
//    }
//  }
//
//  .icon-pinterest {
//    font-size: @social-icon-font-size;
//    color: @pinterest-red;
//
//    &:hover {
//      color: @pinterest-red-hover;
//    }
//  }
//
//  .icon-rss {
//    font-size: @social-icon-font-size;
//    color: @rss-orange;
//
//    &:hover {
//      color: @rss-orange-hover;
//    }
//  }
//
//  .icon-cloud {
//    font-size: @social-icon-font-size;
//    color: @soundcloud-orange;
//
//    &:hover {
//      color: @soundcloud-orange-hover;
//    }
//  }
//
//  .icon-play {
//    font-size: @social-icon-font-size;
//    color: @vimeo-blue;
//
//    &:hover {
//      color: @vimeo-blue-hover;
//    }
//  }
//
//  .icon-github {
//    font-size: @social-icon-font-size;
//    color: @github-gray;
//
//    &:hover {
//      color: @github-gray-hover;
//    }
//
//  .icon-envelope {
//    font-size: @social-icon-font-size;
//  }

}