//
// Post Format Chat
// @version 1.4
// @since 1.0
//

.format-chat {

  .post-title {
    font-size: 20px;
  }

  .post-header {
    margin-bottom: 0;
    border-bottom: 0;
    background: @post_format_chat_bg_color;

    .entry-content {
      padding: 0 10px;
      min-height: 60px;
      font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    }
  }

  .post-avatar img {
    margin-bottom: 20px;
    width: 100%;
  }

  .fa-comments-o {
    font-size: 48px;
  }

}