//
// Post Format Link
// @version 1.1
// @since 1.0
//

.format-link {

  .post-title {
    color: #f0f0f0;
    font-size: 24px;
    line-height: 120%;

    a, a:visited {
      color: #f0f0f0;

      &:hover {
        color: #999;
      }

    }
  }

  .the-comment-link {
    float: right;
  }

  .link-description {
    padding: 20px 20px 0;
  }

  .post-header {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #28292d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(40, 41, 45)), to(rgb(7, 7, 10)));
    background-image: -webkit-linear-gradient(top, rgb(40, 41, 45), rgb(7, 7, 10));
    background-image: -moz-linear-gradient(top, rgb(40, 41, 45), rgb(7, 7, 10));
    background-image: -o-linear-gradient(top, rgb(40, 41, 45), rgb(7, 7, 10));
    background-image: -ms-linear-gradient(top, rgb(40, 41, 45), rgb(7, 7, 10));
    background-image: linear-gradient(top, rgb(40, 41, 45), rgb(7, 7, 10));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#28292d', EndColorStr='#07070a');
  }

  .post-header {
    padding-bottom: 20px;
    padding-left: 0px;
    min-height: 60px;
    background-image: none;
    background-position: 20px 20px;
    background-repeat: no-repeat;

    .icon-link {
      font-size: 48px;
      margin-right: 10px;
    }

    .entry-content {
      padding: 0 20px 10px;
    }
  }

}