//
// Variables
// @version 1.3
// @since 1.0
// 


// Colors
// ---------------------------------


//body background color
@bgcolor:                   #efefef;

// Links
// -------------------------

@linkColor:                 #4d8b97;
@linkColorHover:            darken(@linkColor, 15%);

// Navigation

@navigationItemColor:       #999;
@navigationItemColorHover:  #fff;

// Social
@social-icon-font-size:     14px;
@lighten-or-darken:         lighten;
@hover-percentage:          10%;

// Colors
@twitter-blue:              #1dadeb;
@facebook-blue:             #637eb2;
@linkedin-blue:             #479bc8;
@vimeo-blue:                #1280a9;
@dribbble-pink:             #d24079;
@foursquare-green:          #aad25c;
@googleplus-red:            #d34428;
@pinterest-red:             #c41e26;
@youtube-red:               #d64242;
@rss-orange:                #fd9526;
@soundcloud-orange:         #f8491d;
@github-gray:               #555;

// Hover
@twitter-blue-hover:        lighten(@twitter-blue, @hover-percentage);
@facebook-blue-hover:       lighten(@facebook-blue, @hover-percentage);
@linkedin-blue-hover:       lighten(@linkedin-blue, @hover-percentage);
@vimeo-blue-hover:          lighten(@vimeo-blue, @hover-percentage);
@dribbble-pink-hover:       lighten(@dribbble-pink, @hover-percentage);
@foursquare-green-hover:    lighten(@foursquare-green, @hover-percentage);
@googleplus-red-hover:      lighten(@googleplus-red, @hover-percentage);
@pinterest-red-hover:       lighten(@pinterest-red, @hover-percentage);
@youtube-red-hover:         lighten(@youtube-red, @hover-percentage);
@rss-orange-hover:          lighten(@rss-orange, @hover-percentage);
@soundcloud-orange-hover:   lighten(@soundcloud-orange, @hover-percentage);
@github-gray-hover:         lighten(@github-gray, @hover-percentage);

