//
// Header
// @version 1.4
// @since 1.0
//
@import "variables";

#hgroup {
  padding: 40px 0;
}

#logo p {
  margin-bottom: 0;
}

#site-title,
#site-title a {
  color: $site_title_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  margin: 10px 0 0;

  &:hover,
  &:focus,
  &:active {
    color: $site_title_hover_color;
  }

}

#site-description {
  color: $site_description_color;
  font-size: 14px;
}

#header-image {
  h1,
  p {
    margin: 0;
    padding: 0;

    a {
      display: block;
    }
  }

  img,
  a img {
    max-width: 100%;
    width: auto;
    height: auto;
    opacity: 1;
  }
}