//
// Post Format Audio
// @version 1.4
// @since 1.0
//
@import "variables";

.format-audio {
    background: $post-format-audio-bg-color;

    .mejs-container,
    embed {
        width: 100% !important;
    }

    .post-title {
        font-size: 18px;
    }

    .entry-content {
        padding: 20px;
        margin-bottom: 0px;
    }

    .fa-music {
        font-size: 32px;
    }

    .post-header {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .post-meta {
        background: $post-format-audio-post-meta-bg-color;
    }
}