//
// Post Format Quote
// @version 1.1
// @since 1.0
//
@import "variables";

.format-quote {

    blockquote {
        font-size: 20px;
        border-left: 0;
    }

    .post-header {
        margin-bottom: 5px;
        padding-bottom: 30px;
        border-bottom: 0;
        background-color: $post_format_quote_bg_color;

        .entry-content {
            padding-bottom: 0;
            min-height: 60px;
        }

        .fa-quote-left {
            font-size: 48px;
            margin-left: -15px;
        }

        .content{
            padding: 0 20px;

            p {
                text-shadow: 0 1px 0 rgba(255,255,255,0.3);
                font-style: italic;
                font-size: 24px;
                font-family: Georgia, times, serif;
                line-height: 130%;
            }
        }
    }

    .entry-content:before {
        margin: -12px 0 5px 5px;
        width: 30px;
        height: 0px;
        border-style: solid;
        border-width: 30px 30px 0px 0px;
        border-color: $post_format_quote_bg_color transparent transparent transparent;
        line-height: 0px;
        -webkit-transform: rotate(85deg);
    }

    .post-title {
        font-size: 18px;
    }
}