//
// Typography
// @version 1.4
// @since 1.0
// 

abbr,
tla,
acronym {
    text-decoration: underline;
    cursor: help;
}

cite,
q {
    font-style: italic;
}

ins {
    background-color: rgba(254, 255, 0, 0.68);
    text-decoration: none;
}

pre {
    margin-bottom: 20px;
}