//
// Variables
// @version 1.7
// @since 1.0
// 

// Colors
// ---------------------------------

// Body
$body_bg_color:                                                 #efefef;

// Header
$site_title_color:                                              #000;
$site_title_hover_color:                                        #454545;
$site_description_color:                                        #7a7a7a;

// Navigation
$navigation_item_color:                                         #999;
$navigation_item_hover_color:                                   #fff;
$navigation_dropdown_item_color:                                #888;
$navigation_dropdown_item_hover_color:                          #222;
$navigation_dropdown_item_active_color:                         $navigation_dropdown_item_hover_color;
$navigation_dropdown_open_color:                                #888;
$navigation_dropdown_border_bottom_color:                       #e4e4e4;

// Mobile Navigation
$navigation_mobile_ul_border_color:                             #444;
$navigation_mobile_dropdown_border_color:                       #282828;
$navigation_mobile_dropdown_item_hover_color:                   #fff;
$navigation_mobile_dropdown_active_item_color:                  $navigation_mobile_dropdown_item_hover_color;
$navigation_mobile_dropdown_active_item_hover_color:            $navigation_mobile_dropdown_active_item_color;

// Pages
$page_template_heading_border_color:                            #eee;
$page_template_heading_icon_color:                              #333;

$page_template_sitemap_img_bg_color:                            #f9f9f9;
$page_template_sitemap_img_border_color:                        #eee;

$page_template_archive_heading_color:                           #999;
$page_template_archive_date_color:                              #999;

$page_template_home_bg_color:                                   #fff;

$page_template_offline_message_border_color:                    #e0e0e0;

$page_template_nothing_found_heading_color:                     #000;

// Posts
$post_bg_color:                                                 #fff;

$post_author_box_link_color:                                    #999;

$post_post_header_border_color:                                 #eee;
$post_post_header_meta_color:                                   #999;

$post_post_title_color:                                         #444;
$post_post_title_hover_color:                                   #888;

$post_post_caption_bg_color:                                    #f8f8f8;
$post_post_caption_color:                                       #888;

$post_post_meta_color:                                          #888;
$post_post_meta_border_color:                                   #eee;
$post_permalink_hover_color:                                    #e0e0e0;

$post_post_table_border_color:                                  #ddd;

$post_format_aside_date_color:                                  #fff;
$post_format_aside_date_bg_color:                               #101010;

$post_format_audio_bg_color:                                    #f5f5f5;
$post_format_audio_post_meta_bg_color:                          #fff;

$post_format_chat_bg_color:                                     #fcfcfc;

$post_format_link_post_title_color:                             #f0f0f0;
$post_format_link_post_title_visited_color:                     $post_format_link_post_title_color;
$post_format_link_post_title_hover_color:                       #999;
$post_format_link_post_title_bg_color:                          #28292d;

$post_format_status_post_header_bg_color:                       #f5f5f5;

$pager_link_color:                                              #777;

$page_link_color:                                               #eee;

$breadcrumb_bg_color:                                           #f9f9f9;

// Comments
$comment_by_author_bg_color:                                    #f9f9f9;
$comment_by_author_border_color:                                #202020;

$comment_content_bg_color:                                      #eee;
$comment_image_border_color:                                    #eee;
$comment_date_color:                                            #999;
$comment_gravatar_bg_color:                                     #fff;
$comment_gravatar_border_color:                                 #e3e3e3;

$comment_children_border_top_color:                             #f8f8f8;
$comment_children_border_left_color:                            #eee;

$comment_form_avatar_border_color:                              #eee;
$comment_form_text_area_border_color:                           #999;
$comment_form_label_color:                                      #777;

$comment_navigation_link_color:                                 #999;

$post_no_comments_heading_color:                                #444;

// Widgets
$widget_title_border_color:                                     #e0e0e0;
$widget_title_link_color:                                       #444;

$widget_ul_link_color:                                          #777;
$widget_ul_link_hover_color:                                    #999;

$widget_category_ul_children_border_color:                      #E0E0E0;

$widget_rss_link_color:                                         #444;
$widget_rss_summary_color:                                      #404040;

$widget_calendar_bg_color:                                      #fff;
$widget_calendar_caption_color:                                 #999;
$widget_calendar_table_header_color:                            #f0f0f0;
$widget_calendar_table_header_bg_color:                         #333;
$widget_calendar_table_data_bg_color:                           #fff;
$widget_calendar_table_data_bg_hover_color:                     #f5f5f5;
$widget_calendar_table_footer_bg_color:                         #f8f8f8;
$widget_calendar_table_footer_data_border_color:                #e0e0e0;
$widget_calendar_table_footer_data_bg_start_color:              #f5f5f5;
$widget_calendar_table_footer_data_bg_stop_color:               #fff;
$widget_calendar_table_footer_data_link_color:                  #999;

$widget_tagcloud_bg_color:                                      #f5f5f5;

$widget_jetpack_subscription_bg_color:                          #fff;
$widget_jetpack_contact_form_span_color:                        #aaa;

// Footer
$footer_bg_color:                                               #e0e0e0;
$footer_subfloor_bg_color:                                      #000;

$footer_credit_color:                                           #666;
$footer_credit_link_color:                                      #999;
$footer_credit_link_hover_color:                                #fff;

$footer_widget_title_border_color:                              #999;
$footer_widget_ul_submenu_border_color:                         #999;
$footer_widget_navmenu_ul_submenu_border_color:                 #E0E0E0;

// Social
// ---------------------------------

$social-icon-font-size:                                         14px;
$lighten-or-darken:                                             lighten;
$hover-percentage:                                              10%;

// Colors
$twitter-blue:                                                  #1dadeb;
$facebook-blue:                                                 #637eb2;
$linkedin-blue:                                                 #479bc8;
$vimeo-blue:                                                    #1280a9;
$dribbble-pink:                                                 #d24079;
$foursquare-green:                                              #aad25c;
$googleplus-red:                                                #d34428;
$pinterest-red:                                                 #c41e26;
$youtube-red:                                                   #d64242;
$rss-orange:                                                    #fd9526;
$soundcloud-orange:                                             #f8491d;
$github-gray:                                                   #555;

// Light Contrast
// ---------------------------------

// Body
$body_bg_color_light:                                           #090909;
$body_color_light:                                              #eee;

// Header
$heading_color_light:                                           #e0e0e0;

$site_title_color_light:                                        #fff;

// Posts
$panel_bg_color_light:                                          #333;
$post_bg_color_light:                                           #222;
$post_title_color_light:                                        #eee;
$post_header_border_color_light:                                #303030;
$post_author_box_link_color_light:                              #eee;

$post_format_quote_header_p_color_light:                        #444;
$post_format_quote_background_color_light:                      #28292d;

$post_format_aside_color_light:                                 #28292d;

$post_format_chat_post_header_bg_color_light:                   #28292d;

$post_format_status_post_header_gradient_start_light:           #2c2c2c;
$post_format_status_post_header_gradient_end_light:             #282828;

$post_format_audio_post_meta_color:                             #222;

$caption_bg_color_light:                                        #181818;
$caption_border_color_light:                                    #191919;

$pager_bg_color_light:                                          #333;
$pager_bg_color_hover_light:                                    $pager_bg_color_light;
$pager_border_color_light:                                      #222;
$pager_border_color_hover_light:                                #EEE;

$pager_border_color_hover_light:                                #EEE;

$page_link_color_light:                                         #303030;

$breadcrumb_bg_color_light:                                     #222;
$breadcrumb_border_color_light:                                 #303030;

// Comments
$comment_content_color_light:                                   #999;
$comment_content_border_color_light:                            #303030;
$comment_content_children_border_color_light:                   $comment_content_border_color_light;
$comment_date_link_color_light:                                 #eee;
$comment_by_author_color_light:                                 #2F2F2F;
$comment_by_author_border_color_light:                          #F9F9F9;

// Pages
$page_template_heading_color_light:                             #e0e0e0;
$nothing_found_color_light:                                     #fff;

// Sidebar
$sidebar_color:                                                 #eee;

// Widgets
$widget_heading_color:                                          #e0e0e0;

$widget_jetpack_comment_bg_color_light:                         #454545;

$calendar_bg_color_light:                                       #333;
$calendar_border_color_light:                                   #999;
$calendar_td_color_light:                                       #fff;
$calendar_td_color_hover_light:                                 #000;
$calendar_td_background_color_light:                            #28292d;

$tags_bg_color_light:                                           #28292d;

// Footer
$footer_bg_color_light:                                         #191919;

// Misc
$well_bg_color_light:                                           #222;


// IE
// ---------------------------------

$ie_caption_bg_color:                                           #f6f6f6;
$ie_post_format_status_border_color:                            #f6f6f6;